.opalhide{display:none!important;}
.opalsitescannerpage h1{font-size: 34px;}
.opalsitescannerpage p{font-size: 16px;}
.opalsitescannerpage .opaldoscan{cursor: pointer;}
/*   BUTTONS */
.wp-core-ui .button.bigbutton{
  font-size: 18px;
  padding: 5px 30px;
  border-width: 2px;
  border-radius: 5px;
  transition: all 0.3s;
  text-transform: uppercase;
}
.wp-core-ui .button.bigbutton.opalscannow{background:#0071a1;color:#fcfdf9;}
.wp-core-ui .button.bigbutton.opalscannow:hover{background: #caeed0 !important;border-color: #01872f; color: #01872f;}



.wp-core-ui .button.bigbutton.opalsend{display:none;}

.wp-core-ui .button.bigbutton.opalsend.logpresent{margin-left:20px;background: #74d583;border-color:#74d583; color:#173e25;display: inline-block;}
.wp-core-ui .button.bigbutton.opalsend.logpresent:hover{background: #caeed0 !important;border-color: #01872f; color: #01872f;}
/** button icons **/
.wp-core-ui .button.bigbutton:after{
      font-family: dashicons;
      display: inline-block;
      line-height: 30px;
      font-weight: 400;
      width: 20px;
      height: 20px;
      margin: 3px 0 0px 20px;
      float: right;
      font-size: 30px;
  }
.wp-core-ui .button.bigbutton.opalscannow:after{
  content: "\f311";
}
.wp-core-ui .button.bigbutton.opalsend:after{
  content: "\f465";
}


/******************************/

.opalscanner_results,
#scanbarcontrols {
    max-width: 1300px;
    margin: 20px auto;
}

/********/

.opalsitescannerpage .opal_status{
  display: block;
  background: #4a514a;
  color:#dadFda;
  font-size: 16px;
  margin:20px 0;
  position: relative;
  height:60px;width:100%;
}
.opalsitescannerpage .opal_infobox{
  background: #f1f1f1; display: block; padding:15px; text-align: center; margin-bottom: 20px;
}
.opalsitescannerpage .opal_infobox p{
  margin:0 0 0 0;
}

.opalsitescannerpage .opal_status .statusbar{
  position:absolute;
  width:1%;
  height:100%;
  background: #567c8b;
  transition: width 0.2s;
}

.opalsitescannerpage .opal_status .statusmessage {
padding:20px;
position: absolute;
top:0;
left:0;
}


/* ----- Tabs and panes  ----- */

.opal_tabber_link{
  cursor: pointer;
}
.opal_pane{
  padding: 20px 20px 60px 20px;
  background:#fff;
  border:2px solid #0071a1;
  display: none;
 }
.opal_pane.active{
	display: inherit;
}
#opalsummary.opal_pane{

}

.opal_tab_bar{
  width:100%;
  height:40px;
  position:relative;
  padding-left: 20px;
}

.opal_tab_bar .opal_tab{
  display: inline-block;
  padding: 10px 30px;
  border:2px solid  rgba(200,200,200,0);
/*  background: #ccc;
  color:#aaa;*/
  margin-right: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: #6592a6;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;

  background: #eee;
  color:#6592a6;
  border-color: #6592a6;

}
.opal_tab_bar .opal_tab.active,
.opal_tab_bar .opal_tab.active:hover{
  background: white;
   border:2px solid #0071a1;
     border-bottom-color: #fff;
   color:#0071a1;
}
.opal_tab_bar .opal_tab:hover{
  background: #f9f9fb;
  color:#6592a6;
  border-color: #6592a6;
}
/***** SCORES *****/

.opalsitescannerpage .score{display: block;position:relative;
/*  width:150px;*/
  width:100%;
  height:60px;
  background: #dadada;

}
.opalsitescannerpage .score span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.opalscore_wrap{
  position: relative;
  width:50%;
  float:right;
  padding:0 0 20px 0;
  margin-left: 20px;
}
.opaladvice_wrap{
  clear:both;
  padding-top:20px;
  margin: 20px 0 0 0 ;
  border-top:4px solid #f1f1f1;
}
.opalscore_wrap .deco{
  width:10%;height:20px;
  background:#fafafa;
  display: inline-block;
  margin: 0;
}

.opalsitescannerpage .opalscore_wrap .s10{background: #ff021a;}
.opalsitescannerpage .opalscore_wrap .s20{background: #ff3e06;}
.opalsitescannerpage .opalscore_wrap .s30{background: #ff8103;}
.opalsitescannerpage .opalscore_wrap .s40{background: #ffad02;}
.opalsitescannerpage .opalscore_wrap .s50{background: #ffc702;}
.opalsitescannerpage .opalscore_wrap .s60{background: #ffda00;}
.opalsitescannerpage .opalscore_wrap .s70{background: #e8dd00;}
.opalsitescannerpage .opalscore_wrap .s80{background: #d6e300;}
.opalsitescannerpage .opalscore_wrap .s90{background: #98eb00;}
.opalsitescannerpage .opalscore_wrap .s100{background: #50f800;}

/***** content styles *****/
.opalscanner_results h2{font-size: 30px;font-weight: normal; line-height:normal; margin:20px 0 0.3em 0;}
.opalscanner_results p{ line-height:normal; margin:0 0 0.7em 0;}
.opalscanner_results .opal_dimmed{ color:#7d8fa1;}

/*****  TABLE STYLES *****/
.opalscan_results_table{
  width:100%; margin-top: 20px;
}
.opalscan_results_table td, .opalscan_results_table th{text-align:left; padding: 8px 15px;}
.opalscan_results_table th{background: #dadada;}

.opalscan_results_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}/*
.opalscan_results_table tr:nth-child(even) {
  background-color: #f2f2f2;
}*/
/*****  SPINNY LOADER *****/

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 5px 0px 0 20px;
    box-sizing: border-box;
    border: 20px solid #38a7dd;
    border-color: #0073aa transparent #567c8b transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }


  @media screen and (max-width: 630px) {

    .wp-core-ui .button.bigbutton.opalsend{float: none;margin: 0px;}
    .opal_tab_bar  .opal_tab,
    .opal_tab_bar .opal_tab.active, {
      display: block;
      margin:10px;
      border-radius: 5px;
      border-bottom-color: 2px solid #0071a1!important;
      line-height: normal;
      padding:10px;
    }
    .opal_tab_bar {height:auto; padding:20px 0 0 0; margin: 0px 0 -2px 0;clear:both;
      min-width: 330px;
    }
    .opalscore_wrap {
        width: 100%;
      }

  }
