
.opalsitescannerpage h1{font-size: 34px;}
.opalsitescannerpage p{font-size: 16px;}

.wp-core-ui .button.bigbutton{
  font-size: 18px;padding: 5px 30px;border-width: 2px;border-radius: 5px;transition: all 0.3s;
}
.wp-core-ui .button.bigbutton.opalscannow{background:white;color:rgb(0, 113, 161);}
.wp-core-ui .button.bigbutton.opalscannow:hover{background: #caeed0 !important;border-color: #01872f; color: #01872f;}

.wp-core-ui .button.bigbutton.opalsend{margin-left:20px;}

.opalscan_results_table{
  width:100%; margin-top: 20px;
}
.opalscan_results_table td, .opalscan_results_table th{text-align:left; padding: 8px 15px;}
.opalscan_results_table th{background: #dadada;}

.opalsitescannerpage .score{display: block;position:relative;
  width:150px;
  height:40px;
  background: #dadada;
}

.opalsitescannerpage .score span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.opalsitescannerpage .score.s10{background: #fe0041;}
.opalsitescannerpage .score.s20{background: #ff2c41;}
.opalsitescannerpage .score.s30{background: #ff5041;}
.opalsitescannerpage .score.s40{background: #ffa641;}
.opalsitescannerpage .score.s50{background: #ffcc41;}
.opalsitescannerpage .score.s60{background: #ffe341;}
.opalsitescannerpage .score.s70{background: #fff141;}
.opalsitescannerpage .score.s80{background: #fffb41;}
.opalsitescannerpage .score.s90{background: #d9fb41;}
.opalsitescannerpage .score.s100{background: #34fb41;}

#opalscanbarholder{}
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #38a7dd;
    border-color: #38a7dd transparent #e18686 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
